# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
myenv/

# Environment variables
.env

# Logs and temp files
*.log
*.tmp

# Python egg and wheel
*.egg-info/
*.egg
*.whl

# VS Code and PyCharm
.vscode/
.idea/

# macOS and Windows system files
.DS_Store
Thumbs.db

# SQLite or other local databases
*.db
*.sqlite3

# Docker and runtime
*.pid
